In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('DLbyDefermentType.csv')
#direct loan by deferment type
data.head()

,Year,Quarter,Dollars Outstanding (in billions),Recipients (in millions),Type
0,2015,Q1,$65.90,2.69,In-School Deferment
1,2015,Q2,$78.20,2.90,In-School Deferment
2,2015,Q3,$68.40,2.58,In-School Deferment
3,2015,Q4,$73.20,2.76,In-School Deferment
4,2016,Q1,$70.70,2.64,In-School Deferment

In [3]:
data.columns

Index(['Year', 'Quarter', 'Dollars Outstanding           (in billions)',
       'Recipients     (in millions)', 'Type'],
      dtype='object')

In [4]:
#data = data.drop(columns=['Unnamed: 5', 'Unnamed: 6'])

In [5]:
data.rename(columns={'Dollars Outstanding           (in billions)': 'dollars', 'Recipients     (in millions)': 'recipients'}, inplace=True)

In [6]:
data['Type'].value_counts()

Type
In-School Deferment          40
Six-Month Post-Enrollment    40
Unemployment                 40
Economic Hardship            40
Military                     40
Cancer Treatment             40
Other                        40
Not Reported                 40
Name: count, dtype: int64

In [7]:
data.head()

   Year Quarter  dollars  recipients                 Type
0  2015      Q1  $65.90         2.69  In-School Deferment
1  2015      Q2  $78.20         2.90  In-School Deferment
2  2015      Q3  $68.40         2.58  In-School Deferment
3  2015      Q4  $73.20         2.76  In-School Deferment
4  2016      Q1  $70.70         2.64  In-School Deferment

In [8]:
data['dollars'] = data['dollars'].apply(lambda x: re.sub(r'[$,]', '', str(x)))

In [9]:
data['dollars'] = data['dollars'].astype(float)

In [10]:
data.head()

   Year Quarter  dollars  recipients                 Type
0  2015      Q1     65.9        2.69  In-School Deferment
1  2015      Q2     78.2        2.90  In-School Deferment
2  2015      Q3     68.4        2.58  In-School Deferment
3  2015      Q4     73.2        2.76  In-School Deferment
4  2016      Q1     70.7        2.64  In-School Deferment

In [11]:
data.describe()

             Year     dollars  recipients
count   320.00000  300.000000  300.000000
mean   2019.50000   14.134000    0.428433
std       2.87678   32.140874    0.975300
min    2015.00000    0.000000    0.000000
25%    2017.00000    0.000000    0.000000
50%    2019.50000    0.500000    0.010000
75%    2022.00000    3.800000    0.120000
max    2024.00000  117.800000    3.270000

In [14]:
data2 = data.groupby('Type')['recipients'].mean()
data2

Type
Cancer Treatment             0.00150
Economic Hardship            0.07025
In-School Deferment          2.90000
Military                     0.00550
Not Reported                 0.00150
Other                        0.00100
Six-Month Post-Enrollment    0.12000
Unemployment                 0.11425
Name: recipients, dtype: float64

In [15]:
data3 = data.groupby('Year')['recipients'].mean()
data3

Year
2015    0.477857
2016    0.479643
2017    0.482500
2018    0.490714
2019    0.488929
2020    0.404062
2021    0.382812
2022    0.364375
2023    0.357500
2024    0.390625
Name: recipients, dtype: float64

First, we had to choose which data to use from the topic, so we downloaded 7 of the Excel sheets that were potential candidates for the project. I had to restructure the data in Excel first, since it was not a csv file nor in tabular format. I had to convert the data into a 2D table before loading it into Python using Pandas. Then, I dropped the empty columns, renamed the ones where there were formatting errors, and checked the distribution of the data. I realized that there was a dollar sign in the column of dollars outstanding, which had to be removed using regular expressions substitution. Then, I displayed the distribution of the data using describe.

Questions to answer: what is the trend in the amount of dollars loaned and the number of recipients over time? Can we see a correlation between the number of receipients or amount of dollars loaned and the type of the deferment? Is there a correlation between loan amount and quarter?

EDA: There was a net increase in the amount owed from 2015 10 2024. The in-school deferment type average recipients was much higher than the other loan types. The average number of recipients had a net decrease by year.